page {
  overflow: hidden;
}

.root {
  background: url('../../components/index/img/background2x.png') no-repeat center;
  background-size: cover;
}

.bg {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
}

// 
.center {
  position: absolute;
  width: 479rpx;
  height: 344rpx;
  left: 82rpx;
  top: 257rpx;
}

// 错题库
.group {
  width: 217rpx;
  height: 73rpx;
  position: fixed;
  top: 41rpx;
  left: 474rpx;

}

// star
.star {
  width: 166rpx;
  height: 88rpx;
  position: fixed;
  top: 32rpx;
  left: 52rpx;
}

// 录题
.photo {
  position: fixed;
  width: 186rpx;
  height: 68rpx;
  right: 90rpx;
  bottom: 52rpx;
}

// 边框
.main-card {
  width: 630rpx;
  height: 960rpx;
  background: rgba(136, 200, 125, 1);
  // border: rgba(136, 200, 125, 1) 30rpx solid;
  border-top-left-radius: 315rpx 88rpx;
  border-top-right-radius: 315rpx 88rpx;
  border-bottom-left-radius: 44rpx;
  border-bottom-right-radius: 44rpx;
  margin: -20rpx auto 0;
  box-sizing: border-box;
  //   background-clip: content-box;
  position: relative;
  //   bottom: 195rpx;
  //   top: 181rpx;
}

.main-card::before {
  content: '';
  display: block;
  background: rgba(240, 242, 213, 1);
  border-top-left-radius: 284rpx 80rpx;
  border-top-right-radius: 284rpx 80rpx;
  border-bottom-left-radius: 44rpx;
  border-bottom-right-radius: 44rpx;
  width: 570rpx;
  height: 880rpx;
  opacity: 0.84;
  position: absolute;
  left: 30rpx;
  top: 40rpx;
  box-sizing: border-box;
}

// 错题库主图片
.subject {
  position: relative;
  left: 140rpx;
  top: 112rpx;
  width: 349rpx;
  height: 133rpx;
}

//测验
.test {
  position: absolute;
  width: 433rpx;
  height: 150rpx;
  bottom: 58rpx;
  left: 98rpx;

}

// 背诵
.recite {
  width: 433rpx;
  height: 150rpx;
  position: absolute;
  left: 98rpx;
  bottom: 190rpx;
}

.text {
  width: 361rpx;
  font-size: 24rpx;
  font-weight: 400;
  color: rgba(198, 93, 0, 1);
  line-height: 28rpx;
  position: absolute;
  top: 337rpx;
  left: 147rpx;

  div {
    margin-bottom: 18rpx;
  }
}
